IF EXISTS(SELECT * FROM sys.columns
WHERE Name = N'postcode' AND OBJECT_ID = OBJECT_ID(N'nation'))
BEGIN
alter table nation add postcode varchar(10) null
END 
GO
IF EXISTS(SELECT * FROM sys.columns
WHERE Name = N'mailcode' AND OBJECT_ID = OBJECT_ID(N'nation'))
BEGIN
alter table nation add mailcode varchar(10) null
END 
GO
IF EXISTS(SELECT * FROM sys.columns
WHERE Name = N'postcode' AND OBJECT_ID = OBJECT_ID(N'province'))
BEGIN
alter table province add postcode varchar(10) null
END 
GO
IF EXISTS(SELECT * FROM sys.columns
WHERE Name = N'mailcode' AND OBJECT_ID = OBJECT_ID(N'province'))
BEGIN
alter table province add mailcode varchar(10) null
END 
GO
IF EXISTS(SELECT * FROM sys.columns
WHERE Name = N'postcode' AND OBJECT_ID = OBJECT_ID(N'district'))
BEGIN
alter table district add postcode varchar(10) null
END 
GO
IF EXISTS(SELECT * FROM sys.columns
WHERE Name = N'mailcode' AND OBJECT_ID = OBJECT_ID(N'district'))
BEGIN
alter table district add mailcode varchar(10) null
END 
GO   
IF EXISTS(SELECT * FROM sys.columns
WHERE Name = N'postcode' AND OBJECT_ID = OBJECT_ID(N'town'))
BEGIN
alter table town add postcode varchar(10) null
END 
GO
IF EXISTS(SELECT * FROM sys.columns
WHERE Name = N'mailcode' AND OBJECT_ID = OBJECT_ID(N'town'))
BEGIN
alter table town add mailcode varchar(10) null
END 
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[academiclevelhistory]') AND type in (N'U'))
DROP TABLE [dbo].[academiclevelhistory]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[acedemictitlehistory]') AND type in (N'U'))
DROP TABLE [dbo].[acedemictitlehistory]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[approvedstatus]') AND type in (N'U'))
DROP TABLE [dbo].[approvedstatus]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[armyrankhistory]') AND type in (N'U'))
DROP TABLE [dbo].[armyrankhistory]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[degreehistory]') AND type in (N'U'))
DROP TABLE [dbo].[degreehistory]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[departmenthistory]') AND type in (N'U'))
DROP TABLE [dbo].[departmenthistory]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[partyleveltitlehistory]') AND type in (N'U'))
DROP TABLE [dbo].[partyleveltitlehistory]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[staffinfo]') AND type in (N'U'))
DROP TABLE [dbo].[staffinfo]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[staffstatushistory]') AND type in (N'U'))
DROP TABLE [dbo].[staffstatushistory]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[staffstatushistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[staffstatushistory](
	[code] [varchar](10) NOT NULL,
	[staffcode] [varchar](10) NULL,
	[thecode] [varchar](10) NULL,
	[approvedstatuscode] [varchar](10) NULL,
	[approvedby] [varchar](10) NULL,
	[approvaltime] [datetime] NULL,
	[edituser] [varchar](20) NULL,
	[edittime] [datetime] NULL,
	[lock] [smallint] NULL,
	[lockdate] [datetime] NULL,
	[changecurrrent] [int] NULL,
	[pickupdate] [datetime] NULL,
	[pickupdateshow] [varchar](20) NULL,
	[endtime] [datetime] NULL,
	[endtimeshow] [varchar](20) NULL,
	[whois] [varchar](64) NULL,
	[officialnumber] [nvarchar](50) NULL,
	[universitycode] [varchar](10) NULL,
	[thetype] [varchar](50) NULL,
	[staffinfocode] [varchar](10) NULL,
 CONSTRAINT [PK_staffstatushistory_MY] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[staffinfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[staffinfo](
	[code] [varchar](10) NOT NULL,
	[staffcode] [varchar](10) NULL,
	[approvedstatuscode] [varchar](10) NULL,
	[approvedby] [varchar](10) NULL,
	[approvaltime] [datetime] NULL,
	[edituser] [varchar](20) NULL,
	[edittime] [datetime] NULL,
	[lock] [smallint] NULL,
	[lockdate] [datetime] NULL,
	[whois] [varchar](64) NULL,
	[officialnumber] [nvarchar](50) NULL,
	[officialdate] [datetime] NULL,
	[officialdateshow] [varchar](20) NULL,
	[note] [nvarchar](1000) NULL,
	[abstract] [nvarchar](max) NULL,
	[name] [nvarchar](1000) NULL,
	[universitycode] [varchar](10) NULL,
	[releaseoffice] [nvarchar](1000) NULL,
	[releaseofficer] [nvarchar](100) NULL,
 CONSTRAINT [PK_staffinfo_MY] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[partyleveltitlehistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[partyleveltitlehistory](
	[code] [varchar](10) NOT NULL,
	[staffcode] [varchar](10) NULL,
	[thecode] [varchar](10) NULL,
	[approvedstatuscode] [varchar](10) NULL,
	[approvedby] [varchar](10) NULL,
	[approvaltime] [datetime] NULL,
	[edituser] [varchar](20) NULL,
	[edittime] [datetime] NULL,
	[lock] [smallint] NULL,
	[lockdate] [datetime] NULL,
	[changecurrrent] [int] NULL,
	[pickupdate] [datetime] NULL,
	[pickupdateshow] [varchar](20) NULL,
	[endtime] [datetime] NULL,
	[endtimeshow] [varchar](20) NULL,
	[whois] [varchar](64) NULL,
	[officialnumber] [nvarchar](50) NULL,
	[theorder] [int] NULL,
	[universitycode] [varchar](10) NULL,
	[thetype] [varchar](50) NULL,
	[staffinfocode] [varchar](10) NULL,
	[departmentcode] [varchar](10) NULL,
 CONSTRAINT [PK_partyleveltitlehistory_MY] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[departmenthistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[departmenthistory](
	[code] [varchar](10) NOT NULL,
	[staffcode] [varchar](10) NULL,
	[thecode] [varchar](10) NULL,
	[approvedstatuscode] [varchar](10) NULL,
	[approvedby] [varchar](10) NULL,
	[approvaltime] [datetime] NULL,
	[edituser] [varchar](20) NULL,
	[edittime] [datetime] NULL,
	[lock] [smallint] NULL,
	[lockdate] [datetime] NULL,
	[changecurrrent] [int] NULL,
	[pickupdate] [datetime] NULL,
	[pickupdateshow] [varchar](20) NULL,
	[endtime] [datetime] NULL,
	[endtimeshow] [varchar](20) NULL,
	[whois] [varchar](64) NULL,
	[officialnumber] [nvarchar](50) NULL,
	[universitycode] [varchar](10) NULL,
	[thetype] [varchar](50) NULL,
	[staffinfocode] [varchar](10) NULL,
 CONSTRAINT [PK_departmenthistory_MY] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[degreehistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[degreehistory](
	[code] [varchar](10) NOT NULL,
	[staffcode] [varchar](10) NULL,
	[thecode] [varchar](10) NULL,
	[approvedstatuscode] [varchar](10) NULL,
	[approvedby] [varchar](10) NULL,
	[approvaltime] [datetime] NULL,
	[edituser] [varchar](20) NULL,
	[edittime] [datetime] NULL,
	[lock] [smallint] NULL,
	[lockdate] [datetime] NULL,
	[changecurrrent] [int] NULL,
	[pickupdate] [datetime] NULL,
	[pickupdateshow] [varchar](20) NULL,
	[endtime] [datetime] NULL,
	[endtimeshow] [varchar](20) NULL,
	[whois] [varchar](64) NULL,
	[officialnumber] [nvarchar](50) NULL,
	[universitycode] [varchar](10) NULL,
	[thetype] [varchar](10) NULL,
	[staffinfocode] [varchar](10) NULL,
 CONSTRAINT [PK_degreehistory_MY] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[armyrankhistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[armyrankhistory](
	[code] [varchar](10) NOT NULL,
	[staffcode] [varchar](10) NULL,
	[thecode] [varchar](10) NULL,
	[approvedstatuscode] [varchar](10) NULL,
	[approvedby] [varchar](10) NULL,
	[approvaltime] [datetime] NULL,
	[edituser] [varchar](20) NULL,
	[edittime] [datetime] NULL,
	[lock] [smallint] NULL,
	[lockdate] [datetime] NULL,
	[changecurrrent] [int] NULL,
	[pickupdate] [datetime] NULL,
	[pickupdateshow] [varchar](20) NULL,
	[endtime] [datetime] NULL,
	[endtimeshow] [varchar](20) NULL,
	[whois] [varchar](64) NULL,
	[officialnumber] [nvarchar](50) NULL,
	[universitycode] [varchar](10) NULL,
	[thetype] [varchar](50) NULL,
	[staffinfocode] [varchar](10) NULL,
 CONSTRAINT [PK_armyrankhistory_MY] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[approvedstatus]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[approvedstatus](
	[codeview] [nvarchar](50) NULL,
	[name] [nvarchar](1000) NULL,
	[edittime] [datetime] NULL,
	[edituser] [varchar](20) NULL,
	[lock] [smallint] NULL,
	[lockdate] [datetime] NULL,
	[thetype] [varchar](20) NULL,
	[whois] [varchar](64) NULL,
	[code] [varchar](10) NOT NULL,
 CONSTRAINT [PK_approvedstatus_MY] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[acedemictitlehistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[acedemictitlehistory](
	[code] [varchar](10) NOT NULL,
	[staffcode] [varchar](10) NULL,
	[thecode] [varchar](10) NULL,
	[approvedstatuscode] [varchar](10) NULL,
	[approvedby] [varchar](10) NULL,
	[approvaltime] [datetime] NULL,
	[edituser] [varchar](20) NULL,
	[edittime] [datetime] NULL,
	[lock] [smallint] NULL,
	[lockdate] [datetime] NULL,
	[changecurrrent] [int] NULL,
	[pickupdate] [datetime] NULL,
	[pickupdateshow] [varchar](20) NULL,
	[endtime] [datetime] NULL,
	[endtimeshow] [varchar](20) NULL,
	[whois] [varchar](64) NULL,
	[officialnumber] [nvarchar](50) NULL,
	[universitycode] [varchar](10) NULL,
	[thetype] [varchar](50) NULL,
	[staffinfocode] [varchar](10) NULL,
 CONSTRAINT [PK_acedemictitlehistory_MY] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[academiclevelhistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[academiclevelhistory](
	[code] [varchar](10) NOT NULL,
	[staffcode] [varchar](10) NULL,
	[thecode] [varchar](10) NULL,
	[approvedstatuscode] [varchar](10) NULL,
	[approvedby] [varchar](10) NULL,
	[approvaltime] [datetime] NULL,
	[edituser] [varchar](20) NULL,
	[edittime] [datetime] NULL,
	[lock] [smallint] NULL,
	[lockdate] [datetime] NULL,
	[changecurrrent] [int] NULL,
	[pickupdate] [datetime] NULL,
	[pickupdateshow] [varchar](20) NULL,
	[endtime] [datetime] NULL,
	[endtimeshow] [varchar](20) NULL,
	[whois] [varchar](64) NULL,
	[researchstatuslink] [int] NULL,
	[officialnumber] [nvarchar](50) NULL,
	[universitycode] [varchar](10) NULL,
	[thetype] [varchar](50) NULL,
	[staffinfocode] [varchar](10) NULL,
 CONSTRAINT [PK_academiclevelhistory_MY] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
