/****** Object:  Table [dbo].[sysmenu]    Script Date: 11/30/2017 16:07:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sysmenu]') AND type in (N'U'))
DROP TABLE [dbo].[sysmenu]
GO
/****** Object:  Table [dbo].[sysmenu]    Script Date: 11/30/2017 16:07:07 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sysmenu]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[sysmenu](
	[code] [varchar](10) NOT NULL,
	[codeview] [varchar](20) NULL,
	[name] [nvarchar](200) NULL,
	[note] [nvarchar](max) NULL,
	[edituser] [varchar](20) NULL,
	[edittime] [datetime] NULL,
	[lock] [smallint] NULL,
	[lockdate] [datetime] NULL,
	[parentcode] [varchar](10) NULL,
	[theorder] [int] NULL,
	[icon] [nvarchar](1000) NULL,
	[link] [nvarchar](1000) NULL,
	[prioritycode] [nvarchar](100) NULL,
	[thetype] [varchar](10) NULL,
	[whois] [varchar](64) NULL,
	[universitycode] [varchar](10) NULL,
	[img] [nvarchar](200) NULL,
	[imgtitle] [nvarchar](500) NULL,
	[imgnote] [nvarchar](max) NULL,
	[glance] [nvarchar](max) NULL,
	[extensioncode] [varchar](200) NULL,
	[lang] [varchar](10) NULL,
 CONSTRAINT [PK_sysmenu_MY] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[sysmenu] ([code], [codeview], [name], [note], [edituser], [edittime], [lock], [lockdate], [parentcode], [theorder], [icon], [link], [prioritycode], [thetype], [whois], [universitycode], [img], [imgtitle], [imgnote], [glance], [extensioncode], [lang]) VALUES (N'01', NULL, N'Quản lý Vật tư', NULL, N'', CAST(0x0000A81600CE8F4E AS DateTime), 0, CAST(0xFFFF2E4600000000 AS DateTime), N'', 4, N'fa-plug', N'#', N'ADMINDIRE', N'BACKEND', N'', N'HVKTQS', N'', N'', N'', N'', N'01', N'')
INSERT [dbo].[sysmenu] ([code], [codeview], [name], [note], [edituser], [edittime], [lock], [lockdate], [parentcode], [theorder], [icon], [link], [prioritycode], [thetype], [whois], [universitycode], [img], [imgtitle], [imgnote], [glance], [extensioncode], [lang]) VALUES (N'03', NULL, N'Hệ thống', N'Ghi chú', N'', CAST(0x0000A81600C82EC3 AS DateTime), 0, CAST(0xFFFF2E4600000000 AS DateTime), N'', 2, N'fa-home', N'#', N'ADMINMENU', N'BACKEND', N'', N'HVKTQS', N'', N'', N'', N'', N'03', N'')
INSERT [dbo].[sysmenu] ([code], [codeview], [name], [note], [edituser], [edittime], [lock], [lockdate], [parentcode], [theorder], [icon], [link], [prioritycode], [thetype], [whois], [universitycode], [img], [imgtitle], [imgnote], [glance], [extensioncode], [lang]) VALUES (N'033', N'BACKEND', N'Menu cho Giáo viên', NULL, N'K12337', CAST(0x0000A7DD00F14D50 AS DateTime), 0, CAST(0xFFFF2E4600000000 AS DateTime), N'1702060001', 4, NULL, N'/sysmenu/backend', N'SUPADMIN', N'BACKEND', N'', N'HVKTQS', NULL, NULL, NULL, NULL, N'1702060001.1702060001', N'')
GO
print 'Processed 100 total records'
