IF NOT EXISTS(SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS
          WHERE  TABLE_NAME = 'TESTSTRUCT'
                 AND COLUMN_NAME = 'TOTALTIME')
BEGIN
	alter table TESTSTRUCT add totaltime float default 0
END
GO
IF NOT EXISTS(SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS
          WHERE  TABLE_NAME = 'TESTSTRUCTCONTENT'
                 AND COLUMN_NAME = 'TOTALTIME')
BEGIN
	alter table TESTSTRUCTCONTENT add totaltime float default 0, tranfertime float default 0
END
GO
